.App {
  font-family: sans-serif;
  text-align: center;
}

.flex-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.countaner {
  display: flex;
  justify-content: center;
}

.button {
  max-height: 20px;
  margin: 5px 10px;
}
